@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
  // $primary: #ff3e00,
  // $secondary: color.scale(#676778, $whiteness: -10%),
  // $surface: color.adjust(color-palette.$grey-900, $blue: +4),
  // $background: #000,
  // $error: color-palette.$red-700
    /*$primary: #3f51b5,*/
    $primary: #2d2f2f,
    $secondary: #f50057,
    $surface: #424242,
    $background: #303030,
    $error: #f44336
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: color-palette.$blue-600;
}
a:visited {
  color: color.scale(color-palette.$blue-600, $lightness: -35%);
}

.mdc-chip-set--choice .mdc-chip--selected {
  background-color: var(--mdc-theme-surface, #fff) !important;
}
