@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  // $primary: #ff3e00,
  // $secondary: #676778,
  // $surface: #fff,
  // $background: #fff,
  // $error: color-palette.$red-900
    /*$primary: #3f51b5,*/
    $primary: #fff,
    $secondary: #f50057,
    $surface: #fff,
    $background: #fafafa,
    $error: #f44336
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;  
}

a {
  color: color-palette.$blue-600;
}
a:visited {
  color: color.scale(color-palette.$blue-600, $lightness: -35%);
}

/* Add some fine tunings here */
.mdc-chip-set--choice .mdc-chip--selected {
  background-color: var(--mdc-theme-surface, #000) !important;
}

/* For chip selected */
.mdc-chip--selected {
  background: #000 !important;
  color: #fff !important;
}

/* Not to display checked icon when selected */
.mdc-chip__checkmark-svg {
  display: none !important;
}